:root {
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;
}

body {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nameplate {
  display: flex;
  flex-direction: row;
  text-shadow: 2px 2px 4px rgba(89, 85, 85, 0.764);
  font-size: 4rem;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--spacing-md);
  align-items: center;
  margin: var(--spacing-lg) 0 auto;
}

.resume-icon,
.github-icon,
.email-icon,
.linkedin-icon {
  filter: drop-shadow(0 2px 4px rgba(20, 82, 20, 0.5));
  transition: transform 0.3s ease, filter 0.3s ease;
}

.resume-icon:hover,
.github-icon:hover,
.email-icon:hover,
.linkedin-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 15px rgba(20, 82, 20, 0.5));
  cursor: pointer;
}

.projects-section {
  margin: var(--spacing-lg) 0 auto;
  width: 100%;
  text-align: left;
}

.weather-section {
  margin-top: var(--spacing-lg);
}