:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {  
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.resume-icon {
  align-self: flex-end;
}

.github-icon {
  align-self: flex-end;
}

.email-icon {
  align-self: flex-end;
}

.linkedin-icon {
  align-self: flex-end;
}

@keyframes slideInNext {
  from {
    opacity: 0%;
    transform: translateX(100%);
  } to {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes slideInPrev {
  from {
    opacity: 0%;
    transform: translateX(-100%);
  } to {
    opacity: 100%;
    transform: translateX(0%);
  }
}

.animate-next {
  animation: slideInNext 0.3s ease-in-out;
}


.animate-prev {
  animation: slideInPrev 0.3s ease-in-out;
}