@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans Display", sans-serif;
}

@keyframes slideInNext {
  from {
    opacity: 0%;
    transform: translateX(100%) translateY(30%);
  } to {
    opacity: 100%;
    transform: translateX(0%) translateY(0%);
  }
}

@keyframes slideInPrev {
  from {
    opacity: 0%;
    transform: translateX(-100%) translateY(30%);
  } to {
    opacity: 100%;
    transform: translateX(0%) translateY(0%);
  }
}

.animate-next {
  animation: slideInNext .5s ease-in-out;
}

.animate-prev {
  animation: slideInPrev 0.5s ease-in-out;
}

.project_browser_title {
  margin: 0 0 0.5rem 0;
  transition: transform .2s;
}

.project_browser_title:hover {
  cursor: pointer;
  transform: translateY(-10%);
}

.project_browser_description {
  margin: 0;
}

.arrow-controls {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.5rem;
}

.arrowButton {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  border-radius: 20%;
  border: none;
  padding: 0;
  cursor: pointer;
  filter: drop-shadow(0 2px 4px rgba(20, 82, 20, 0.5));
  transition: transform 0.3s ease, filter 0.3s ease;
  background-color: transparent;
}

.arrowButton:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 15px rgba(20, 82, 20, 0.5));
}